.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 259px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 10px;

  @media screen and (min-width: 768px) {
    width: 381px;
  }
}

.text {
  font-size: 16px;
  letter-spacing: 1;
  font-weight: 600;
  color: black;
}

.text span {
  font-weight: 400;
}
