#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 50px;
  border-bottom: 2px solid #f23c32;
  background-color: #f8f2f2;
}

.tabPage {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #f23c32;
  border: 2px solid #f23c32;
  border-radius: 5px 5px 5px 5px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ff0d00;
    border-color: #ff0d00;
    transform: translateY(-2px);
    box-shadow: 0 0 0 0.8px #f23c32;
  }
}

.tabPage.active {
  background-color: #f23c32;
  color: #ffffff;
  border: 2px solid #f23c32;

  &:hover,
  &:focus {
    background-color: #ff0d00;
    border-color: #ff0d00;
  }
}
