.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f2f2;
  margin: 30px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    width: 708px;
  }

  @media screen and (min-width: 1280px) {
    width: 730px;
  }
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
}
