.formWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.input {
  width: 240px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1;
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px;
  color: black;
}

.input::placeholder {
  font-weight: 400;
}

.btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 1;
  background-color: rgb(240, 186, 38);

  &:hover {
    background-color: rgb(255, 219, 119);
  }
}
